<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Smart Quiz</title>
  <link rel="stylesheet" href="../static/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai&family=Fredoka+One&family=Poppins&family=Quicksand&display=swap" rel="stylesheet">

</head>
<body>
  <div class="card">
    <div class="logo">SmartQuiz Jr</div>
    <div class="tagline">Welcome to SmartQuiz Jr! Ready to test and grow your knowledge?</div>
    <a href="join.html" style="width: 100%; text-decoration: none;">
      <button class="join-btn">Click to Join</button>
    </a>
    <div class="footer">Made with ❤️ by Chandan</div>
  </div>
</body>
</html>
