<!-- teacher_start.html -->
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <title>Start Quiz - SmartQuiz Jr</title>
    <link rel="stylesheet" href="../static/css/teacher_start.css">
</head>

<body>

    <h2>Quiz Room: <span id="room"></span></h2>

    <div>
        <input type="text" id="room-input" placeholder="Enter room code">
        <button onclick="setRoom()">Go To Room</button>
    </div>

    <button id="start-btn">Start Quiz</button>

    <h3>Students Joined:</h3>
    <ul id="students-list"></ul>

    <script src="../static/js/teacher_start.js?v=${new Date().getTime()}"></script>
</body>

</html>