<!-- waiting_room.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waiting Room</title>
    <link rel="stylesheet" href="../static/css/waiting_room.css">
</head>

<body>
    <main class="waiting-card">
        <div class="logo">SnartQuiz Jr</div>
        <h2 class="room-title">Waiting Room</h2>
        <div class="info-section">
            <div class="info-text">
                <span id="display-username">
                    Student: &nbsp;<strong></strong>
                </span>
            </div>
            <div class="info-text">
                <span id="display-room">
                    Room Code: &nbsp;<strong></strong>
                </span>
            </div>
        </div>
        <div class="waiting-indicator">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
        <button class="leave-btn" onclick="window.location.href='join.html'">Leave Room</button>
    </main>
    <script src="../static/js/waiting_room.js?v=${new Date().getTime()}"></script>
</body>

</html>